/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
ul#top_menu li a.btn_1 {
    background-color: #DF632A;
    color: white;
}

.box_1{
    background-color: #0072B2;
}

a.btn_1, .btn_1 {
    background: #DF632A;
}

.main_title_2 span em {
    background-color: #DF632A;
}

.margin_30_95 {
    padding-top: 50px;
}

.margin_120_95 {
    padding-top: 50px;
}

.margin_120_0 {
    padding-top: 50px;
}


/* Taken from style.css (in order) */

a {
    color: #0072B2;
}

a.btn_1:hover,
.btn_1:hover {
    background: #0072B2;
}

a.btn_1.outline,
.btn_1.outline {
    border: 2px solid #0072B2;
    color: #0072B2;
}

a.btn_1.outline:hover,
.btn_1.outline:hover {
    background: #0072B2;
    border-color: #0072B2;
}

/*Can have different options*/

header.header.sticky {
    background: #0072B2;
    background: -webkit-linear-gradient(left, #DF632A, #0072B2);
    background: linear-gradient(to right, #DF632A, #0072B2);
}

@media (max-width: 991px) {
    header.header.sticky_menu_active {
        background: -webkit-linear-gradient(left, #DF632A, #0072B2);
        background: linear-gradient(to right, #DF632A, #0072B2);
    }
}

ul#top_menu li a.btn_1 {
    background-color: #DF632A;
}

ul#top_menu li a.btn_1:hover {
    background-color: #0072B2;
}

#hero_in.general {
    border-bottom: 5px solid #DF632A;
}

#hero_in.general .wrapper {
    background-color: #0072B2;
}

#hero_in.courses .wrapper {
    background-color: #0072B2;
}

#hero_in .wrapper h1 span {
    background-color: #DF632A;
}

footer ul li a:hover {
    color: #0072B2;
}

#newsletter input[type='submit'] {
    background-color: #DF632A;
}

#newsletter input[type='submit']:hover {
    background-color: #0072B2;
}

@media (max-width: 1024px) {
    #hero_video {
        background: #0072B2 url(http://via.placeholder.com/1600x1067/ccc/fff/bg_home_fallback_video.jpg);
    }
}

.hero_single .wrapper {
    background-color: #0072B2;
}

.hero_single.version_2 .wrapper {
    background-color: #0072B2;
}

#custom-search-input input[type='submit'] {
    background-color: #0072B2;
}

#custom-search-input input[type='submit']:hover {
    background-color: #DF632A;
}

@media (max-width: 575px) {
    #custom-search-input input[type='submit'] {
        background: #0072B2 url(../img/search.svg) no-repeat center center;
    }
}

.features ul li h4 {
    color: #DF632A;
}

ul#grid_home li:nth-child(1) .short_info {
    background-color: #0072B2;
}

ul#grid_home li:nth-child(2) .short_info {
    background-color: #0072B2;
}

ul#grid_home li:nth-child(3) .short_info {
    background-color: #0072B2;
}

ul#grid_home li:last-child .img_container:hover .short_info .btn_1 {
    background-color: #DF632A;
}

ul#grid_home li:last-child .img_container:hover .short_info .btn_1:hover {
    background-color: #0072B2;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #0072B2 !important;
}

a.box_news figure figcaption {
    background-color: #DF632A;
}

a.box_news:hover h4 {
    color: #0072B2;
}

a.box_feat i {
    color: #0072B2;
}

#carousel .item .title h4 {
    background-color: #0072B2;
    background-color: #0072B2;
}

.filters_listing {
    background: #DF632A;
}

.box_grid ul li:last-child a {
    border: 2px solid #0072B2;
    color: #0072B2;
}

.box_grid ul li:last-child a:hover {
    background: #0072B2;
}

.rating i.voted {
    color: #DF632A;
}

.box_list a.wish_bt:hover:after {
    content: "\e089";
    color: #0072B2;
}

.box_list .wrapper .price {
    color: #0072B2;
}

.box_list ul li:last-child a {
    border: 2px solid #0072B2;
    color: #0072B2;
}

.box_list ul li:last-child a:hover {
    background: #0072B2;
}

.layout_view a.active {
    color: #0072B2 !important;
}

.layout_view a:hover {
    color: #0072B2;
}

.switch-field input:checked + label {
    background-color: #0072B2;
}

.switch-field label {
    color: #0072B2;
}

.switch-field label:hover {
    color: #0072B2;
}

.sbSelector:link,
.sbSelector:visited,
.sbSelector:hover {
    color: #0072B2;

}

.sbToggle:after {
    color: #0072B2;
}

.sbOptions li:hover {
    color: #0072B2;
}

.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus {
    color: #0072B2;
}

.secondary_nav {
    background: #0072B2;
}

#review_summary {
    background-color: #0072B2;
}

.reviews-container .progress-bar {
    background-color: #0072B2;
}

.box_detail .price .original_price {
    color: #0072B2;
}

#login figure, #register figure {
    background: #0072B2;
    background: -webkit-linear-gradient(left, #DF632A, #0072B2);
    background: linear-gradient(to right, #DF632A, #0072B2);
}

a.social_bt.facebook {
    background-color: #0072B2;
}

a.social_bt.google {
    background-color: #DF632A;
}

a.social_bt.linkedin {
    background-color: #0072B2;
}

.contact_info ul li h4 {
    color: #0072B2;
}

.error_message {
    color: #DF632A;
}

#error_page {
    background: #0072B2 url(../img/pattern_1.svg) fixed;
}

.search_bar_error input[type='submit'] {
    background-color: #0072B2;
}

.search_bar_error input[type='submit']:hover {
    background-color: #DF632A;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #0072B2;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    background-color: #0072B2;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    color: #DF632A;
}

.form_title h3 strong {
    background-color: #0072B2;
}

.list_lessons_2 ul li:nth-child(odd) {
    background-color: #0072B2;
}

.box_highlight {
    background-color: #0072B2;
}

ul.additional_info li strong {
    color: #DF632A;
}

ul.list_teachers li a i {
    color: #0072B2;
}

.grid ul li figcaption a:hover, .grid ul li figcaption a:focus {
    color: #0072B2;
}

ul#cat_nav li a:hover, ul#cat_nav li a#active, ul#cat_nav li a.active {
    color: #0072B2;
}

.accordion_2 .card-header h5 a i.indicator {
    color: #0072B2;
}

a.box_topic i {
    color: #0072B2;
    background-color: #0072B2;
}

.list_articles ul li a:hover {
    color: #0072B2;
}

.indent_title_in i {
    color: #0072B2;
}

.fc-state-default {
    background-color: #0072B2 !important;
}

.external-event {
    background: #0072B2 !important;
}

.fc-event {
    background-color: #0072B2 !important;
}

.badge_info {
    background-color: #DF632A;
}

.call_section_admission {
    background: #DF632A url(../img/pattern_1.svg) center center repeat fixed;

}
.card-header h5 a i.indicator {
    color: #0072B2;
}

.input_label::after {
    border-bottom: #0072B2;
}

.animated .block-horizzontal {
    background: #0072B2;
}

.animated .block-vertical {
    background: #0072B2;
}

#logo{
    margin-top: -5px;
}

.cart_section {
    background: #0072B2 url(../img/pattern_1.svg) fixed;
    border-bottom: 5px solid #DF632A;
}

.container margin_120_95{
    padding-top: 0px;
}

#top_menu{
    margin-top: 10px;
}

ul#top_menu {
    margin-top: 10px;
}