<footer>
    <div class="container margin_120_95">
        <div class="row">
            <div class="col-lg-5 col-md-12 p-r-5">
                <p><img src="static/img/knowdexLogoAzul.png" width="200" height="60" data-retina="true" alt=""></p>
                <p>Cualquier pregunta, envie un correo electrónico a hola@knowdex.com</p>
                <div class="follow_us">
                    <ul>
                        <li>Síguenos</li>
                        <li><a href="https://www.facebook.com/knowdex/"><i class="ti-facebook"></i></a></li>
                        <!--<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>-->
                        <!--<li><a href="#0"><i class="ti-google"></i></a></li>-->
                        <!--<li><a href="#0"><i class="ti-pinterest"></i></a></li>-->
                        <li><a href="https://www.instagram.com/knowdex/?hl=en"><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ml-lg-auto">
                <h5>Menú Principal</h5>
                <ul class="links">
                    <li><a href="#/courses-list">Cursos</a></li>
                    <li><a href="#/courses-grid">Tienda</a></li>
                    <li><a href="#/faq">Preguntas Frecuentes</a></li>
                    <li><a href="#/about">Sobre Nosotros</a></li>
                    <li><a href="#/contacts">Contáctanos</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contáctanos</h5>
                <ul class="contacts">
                    <li><a href="7871234567"><i class="ti-mobile"></i> 787-123-4567</a></li>
                    <li><a href="mailto:hola@knowdex.com"><i class="ti-email"></i> hola@knowdex.com </a></li>
                    <li><a href="mailto:tecnico@knowdex.com"><i class="ti-email"></i> tecnico@knowdex.com </a></li>
                    <li><a href="mailto:contacto@knowdex.com"><i class="ti-email"></i> contacto@knowdex.com</a></li>
                </ul>
                <div id="newsletter">
                    <h6>Boletín informativo</h6>
                    <div id="message-newsletter"></div>
                    <form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
                        <div class="form-group">
                            <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Correo electrónico">
                            <input type="submit" value="Someter" id="submit-newsletter">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
            <div class="col-md-8">
                <ul id="additional_links">
                    <li><a href="#0">Términos y Condiciones</a></li>
                    <li><a href="#0">Política de Privacidad</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div id="copy">© 2018 Knowdex, LLC. All Rights Reserved. The KNOWledge inDEX! Powered by the people.</div>
            </div>
        </div>
    </div>
</footer>