<header class="header menu_2" ng-controller="headerCtrl">
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->
    <div id="logo">
        <a href="#/"><img src="static/img/knowdexLogoAzul.png" width="200" height="60" data-retina="true"
                          alt=""></a>
    </div>
    <ul id="top_menu">
        <li><a href="#/login" class="login">Login</a></li>
    </ul>
    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
        <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </a>
    <nav id="menu" class="main-menu">
        <ul>
            <li>
                <span><a href="#/courses-grid">Cursos</a></span>
            </li>
            <li>
                <span><a href="#/courses-grid">Tienda</a></span>
            </li>
            <li>
                <span><a href="#/faq">Preguntas Frecuentes</a></span>
            </li>
            <li>
                <span><a href="#/about">Sobre nosotros</a></span>
            </li>
            <li>
                <span><a href="#/contacts">Contáctanos</a></span>
            </li>
        </ul>
    </nav>

</header>