/* YOUR CUSTOM CSS */

a {
    color: #0072B2;
}

a.btn_1,
.btn_1 {
    background: #0072B2;
}

.bg-default {
    background-color: #0072B2;
}

.page-item.active .page-link {
    background-color: #0072B2;
    border-color: #0072B2;
}

.page-link {
    color: #0072B2;
}

.page-link:focus, .page-link:hover {
    background-color: #0072B2;
    border-color: #0072B2;
}

.sbOptions li:hover {
    color: #0072B2;
}

.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus {
    color: #0072B2;
}