<main ng-controller="cart2Ctrl">
	<section id="hero_in" class="cart_section">
		<div class="wrapper">
			<div class="container">
				<div class="bs-wizard clearfix">
					<div class="bs-wizard-step">
						<div class="text-center bs-wizard-stepnum">Tu carrito</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="cart-1.html" class="bs-wizard-dot"></a>
					</div>

					<div class="bs-wizard-step active">
						<div class="text-center bs-wizard-stepnum">Método de Pago</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="#0" class="bs-wizard-dot"></a>
					</div>

					<div class="bs-wizard-step disabled">
						<div class="text-center bs-wizard-stepnum">¡Listo!</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a href="#0" class="bs-wizard-dot"></a>
					</div>
				</div>
				<!-- End bs-wizard -->
			</div>
		</div>
	</section>
	<!--/hero_in-->

	<div class="bg_color_1">
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">
					<div class="box_cart">
						<div class="message">
							<p> ¿Eres un cliente previo? <a href="#0"> Presione aquí para ingresar a su cuenta </a></p>
						</div>
						<div class="form_title">
							<h3><strong>1</strong> Detalles </h3>
							<p>
								Mussum ipsum cacilds, vidis litro abertis.
							</p>
						</div>
						<div class="step">
							<div class="row">
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content"> Nombre </span>
										</label>
									</span>
								</div>
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content"> Apellido </span>
										</label>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="email">
										<label class="input_label">
											<span class="input__label-content"> Correo electrónico </span>
										</label>
									</span>
								</div>
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="email">
										<label class="input_label">
											<span class="input__label-content"> Confirme su correo electrónico </span>
										</label>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content"> Número de teléfono </span>
										</label>
									</span>
								</div>
							</div>
						</div>
						<hr>
						<!--End step -->

						<div class="form_title">
							<h3><strong>2</strong>Información del Pago</h3>
							<p>
								Mussum ipsum cacilds, vidis litro abertis.
							</p>
						</div>
						<div class="step">
							<span class="input">
								<input class="input_field" type="text">
								<label class="input_label">
								  <span class="input__label-content">Nombre en la tarjeta</span>
								</label>
							</span>
							<div class="row">
								<div class="col-md-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
										  <span class="input__label-content">Número de tarjeta</span>
										</label>
									</span>
								</div>
								<div class="col-md-6 col-sm-6">
									<img src="/static/img/payments.png" alt="Cards" class="cards">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 add_top_30">
									<label>Expiration date</label>
									<div class="row">
										<div class="col-md-6">
											<span class="input">
												<input class="input_field" type="text">
												<label class="input_label">
												  <span class="input__label-content">Mes</span>
												</label>
											</span>
										</div>
										<div class="col-md-6">
											<span class="input">
												<input class="input_field" type="text">
												<label class="input_label">
												  <span class="input__label-content">Año</span>
												</label>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-6 add_top_30">
									<div class="form-group">
										<label>Security code</label>
										<div class="row">
											<div class="col-md-4">
												<span class="input">
													<input class="input_field" type="text">
													<label class="input_label">
													  <span class="input__label-content">CCV</span>
													</label>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--End row -->

							<h5>O pague con Paypal</h5>
							<p>
								Lorem ipsum dolor sit amet, vim id accusata sensibus, id ridens quaeque qui. Ne qui vocent ornatus molestie, reque fierent dissentiunt mel ea.
							</p>
							<p>
								<img src="img/paypal_bt.png" alt="Image">
							</p>
						</div>
						<hr>
						<!--End step -->

						<div class="form_title">
							<h3><strong>3</strong>Dirreción de envío</h3>
							<p>
								Mussum ipsum cacilds, vidis litro abertis.
							</p>
						</div>
						<div class="step">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content">País</span>
										</label>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content"> Calle 1 </span>
										</label>
									</span>
								</div>
								<div class="col-md-6 col-sm-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content"> Calle 2</span>
										</label>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content">Ciudad</span>
										</label>
									</span>
								</div>
								<div class="col-md-3">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content">Estado</span>
										</label>
									</span>
								</div>
								<div class="col-md-3">
									<span class="input">
										<input class="input_field" type="text">
										<label class="input_label">
											<span class="input__label-content">Código Postal</span>
										</label>
									</span>
								</div>
							</div>
							<!--End row -->
						</div>
						<hr>
						<!--End step -->
						<div id="policy">
							<h5>Política de cancelación</h5>
							<p class="nomargin">Lorem ipsum dolor sit amet, vix <a href="#0">cu justo blandit deleniti</a>, discere omittantur consectetuer per eu. Percipit repudiare similique ad sed, vix ad decore nullam ornatus.</p>
						</div>
					</div>
				</div>
				<!-- /col -->

				<aside class="col-lg-4" id="sidebar">
					<div class="box_detail">
						<div id="total_cart">
							Total <span class="float-right">69.00$</span>
						</div>
						<div class="add_bottom_30">Lorem ipsum dolor sit amet, sed vide <strong>moderatius</strong> ad. Ex eius soleat sanctus pro, enim conceptam in quo, <a href="#0">brute convenire</a> appellantur an mei.</div>
						<a href="#/cart-3" class="btn_1 full-width">Checkout</a>
						<a href="courses-grid-sidebar.html" class="btn_1 full-width outline"><i class="icon-right"></i> Seguir Buscando</a>
					</div>
				</aside>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bg_color_1 -->
</main>