<main>
    <section id="hero_in" class="courses">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Constructor de Contratos</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="wrapper">
            hello
        </div>
    </div>

    <!--<div class="row">-->

        <!--&lt;!&ndash;Primera parte, que contiene las preguntas y los espacios que se van a llenar en el contrato&ndash;&gt;-->
        <!--<div class="col" id="questions">-->
            <!--<div class="card">-->
                <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">-->
                    <!--<div class="carousel-inner">-->
                        <!--<div class="carousel-item active">-->
                            <!--<form>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿En que municipio se lleva a cabo el contrato?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Municipio" ng-model="ciudad">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿El día en el cual se va a firmar el contrato?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Día" ng-model="dia">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿El mes en el cual se va a firmar el contrato?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Mes" ng-model="mes">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿El año en el cual se va a firmar el contrato?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Año" ng-model="ano">-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                        <!--<div class="carousel-item">-->
                            <!--<form>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿Cuál es el nombre del/la vendedor(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Vendedor(a)" ng-model="vendedor">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿Cuál es el seguro social del/la vendedor(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Seguro Social" ng-model="ss1">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿El/la vendedor(a) es soltero(a) o casado(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Soltero(a) o Casado(a)" ng-model="soC1">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿Cuál es la pareja del vendedor(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Llenar solo si es casado(a), sino escribir (N/A)" ng-model="nombrep1">-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                        <!--<div class="carousel-item">-->
                            <!--<form>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿De qué municipio es de el/la vendedor(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Municipio" ng-model="municipio1">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿Cómo se llama el/la comprador(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Comprador(a)" ng-model="persona2">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿Cuál es el seguro social del/la comprador(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Seguro Social" ng-model="ss2">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label>¿El/la comprador(a) es soltero(a) o casado(a)?</label>-->
                                    <!--<input type="text" class="form-control" placeholder="Soltero(a) o Casado(a)" ng-model="soC2">-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="">-->
                    <!--<a class="nextButton" href="#carouselExampleControls" role="button" data-slide="prev">-->
                        <!--<button type="button" name="button" class="btn btn-success">Previo</button>-->
                    <!--</a>-->
                    <!--<a class="nextButton" href="#carouselExampleControls" role="button" data-slide="next">-->
                        <!--<button type="button" name="button" class="btn btn-success">Siguiente</button>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;Segunda parte, que contiene el código que se convertirá a pdf próximamente&ndash;&gt;-->
        <!--<div class="col" style="overflow:scroll; height:40em; width:50em;" id="output">-->
            <!--<p></p>-->
            <!--<p class="title"> Contrato de Opción de Compra </p>-->
            <!--<p class="paragraph"> En el municipio de <span class="blank" ng-bind="ciudad"></span>, de Puerto Rico, a-->
                <!--<span class="blank" ng-bind="dia"></span> de <span class="blank" ng-bind="mes"></span> de <span class="blank" ng-bind="ano"></span>.-->
            <!--<p class="header">COMPARECEN</p>-->
            <!--<p class="paragraph">DE UNA PARTE: Sr. (a). <span class="blank" ng-bind="persona1"></span> mayor de edad, Seguro Social Núm.-->
                <!--<span class="blank" ng-bind="ss1"></span>, con estado civil de <span class="blank" ng-bind="soC1"></span>-->
                <!--con <span class="blank" ng-bind="nombrep1"></span>,-->
                <!--profesión y oficio de vecino (a) del municipio de <span class="blank" ng-bind="municipio1"></span>, Puerto Rico. De ahora en delante denominado (s) como VENDEDOR(ES).</p>-->

            <!--<p class="paragraph">DE OTRA PARTE: Sr. (a). <span class="blank" ng-bind="persona2"></span> mayor de edad, Seguro Social Núm. <span class="blank" ng-bind="ss2"></span>, con estado civil-->
                <!--de <span class="blank" ng-bind="soC2"></span> con <span class="blank" ng-bind=""></span>,</p>-->


        <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <!--<div id="submit">-->
        <!--<a href="#" onclick="return xepOnline.Formatter.Format('output',{render:'download'});">-->
            <!--&lt;!&ndash; <img src="button-print.png" width="25em" height="25em"> &ndash;&gt;-->
            <!--<button type="button" class="btn btn-success" style="">Compra el PDF</button>-->
        <!--</a>-->
    <!--</div>-->

</main>