<main ng-controller="coursesGridCtrl">
	<div ng-include="'views/layouts/header.html'"></div>
	<section id="hero_in" class="courses">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Tienda</h1>
			</div>
		</div>
	</section>

	<div class="container margin_60_35">
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="box_grid wow">
					<figure class="block-reveal">
						<div class="block-horizzontal"></div>
						<!--<a href="#0" class="wish_bt"></a>-->
						<a href="#/course-detail"><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg" class="img-fluid" alt=""></a>
						<div class="price">$54</div>
						<div class="preview"><span>Preview course</span></div>
					</figure>

					<div class="wrapper">
						<!--<small>Category</small>-->
						<h3>Persius delenit has cu</h3>
						<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
						<!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>-->
					</div>
					<ul>
						<!--Deje los list tags para que el spacing no se descuadre-->
						<li></li>
						<li></li>
						<li><a href="#/course-detail">Enroll now</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-include="'views/layouts/footer.html'">
</main>
