<!--Detalles de los Cursos-->

<main ng-controller="courseDetailCtrl as c">
	<section id="hero_in" class="courses">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>{{ coursesInfo.course_title }}</h1>
			</div>
		</div>
	</section>
	<!--/hero_in-->

	<div class="bg_color_1">
		<nav class="secondary_nav sticky_horizontal">
			<div class="container"></div>
		</nav>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">

					<section id="description">
						<h2>Descripción</h2>
						<hr />
						<p>{{ coursesInfo.course_desc }}</p>
					</section>
					<!-- /section -->
				</div>
				<!-- /col -->

				<aside class="col-lg-4" id="sidebar">
					<div class="box_detail">
						<figure>
							<a href="#/courses-grid" class="video"><img ng-src="{{ coursesInfo.course_image }}" alt="" class="img-fluid"></a>
						</figure>
						<a href="#/courses-grid" class="btn_1 full-width">Comprar</a>
					</div>
				</aside>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bg_color_1 -->
</main>
