<main>
	<section id="hero_in" class="courses">
		<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp"><span></span>Cursos: Reválida</h1>
			</div>
		</div>
	</section>

	<div class="container margin_60_35">
		<div class="box_list wow" ng-repeat="list in coursesList">
			<div class="row no-gutters">
				<div class="col-lg-5">
					<figure class="block-reveal">
						<div class="block-horizzontal"></div>
						<a ng-href="#/course-detail/{{ list.course_id }}"><img ng-src="{{ list.course_image }}" class="img-fluid" alt=""></a>
					</figure>
				</div>
				<div class="col-lg-7">
					<div class="wrapper">
						<h3>{{ list.course_title }}</h3>
						<p>{{ list.course_short }}</p>
					</div>
					<ul>
						<li><a ng-href="#/course-detail/{{ list.course_id }}">Leer más</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
