<main ng-controller="faqCtrl as ctrl">
    <section id="hero_in" class="general">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Preguntas frecuentes</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <div class="container margin_60_35">
        <div class="row">
            <aside class="col-lg-3" id="sidebar">
                <div class="box_style_cat" id="faq_box">
                    <ul id="cat_nav">
                        <li><a href="#payment" class="active"><i class="icon_document_alt"></i>Preguntas
                            Generales</a></li>
                        <li><a href="#tips"><i class="icon_document_alt"></i>Preguntas relacionadas a <br>la
                            reválida</a></li>
                        <li><a href="#reccomendations"><i class="icon_document_alt"></i>Pagos, Suscripciones y
                            Reembolsos</a></li>
                        <li><a href="#terms"><i class="icon_document_alt"></i>Cursos</a></li>
                    </ul>
                </div>
                <!--/sticky -->
            </aside>
            <!--/aside -->

            <div class="col-lg-9" id="faq">
                <h4 class="nomargin_top">Preguntas Generales</h4>
                <div role="tablist" class="add_bottom_45 accordion_2" id="payment">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href data-target="#collapseOne_payment" aria-expanded="true"><i
                                        class="indicator ti-minus"></i>¿Qué garantías me da Knowdex de que usando su
                                    plataforma pasaré la reválida?</a>
                            </h5>
                        </div>

                        <div id="collapseOne_payment" class="collapse show" role="tabpanel" data-parent="#payment">
                            <div class="card-body">
                                <p>Ninguna.</p>
                                <p>Lamentablemente Knowdex no puede darle ninguna garantía a nadie de que al usar
                                    esta plataforma pasarán la reválida.
                                    Sin embargo, en los estudios que hicimos logramos concluir que el complemento de
                                    un repaso de reválida + Knowdex prepara mejor a al estudiante para enfrentarse a
                                    la reválida general.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseTwo_payment"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Qué es peor que tomar la reválida una vez?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo_payment" class="collapse" role="tabpanel" data-parent="#payment">
                            <div class="card-body">
                                <p>Peor que tomar la reválida una vez es tomarla dos, tres, cuatro, cinco y seis
                                    veces. Recuerda que el equipo de Knowdex pasó por eso. Juntos decidimos crear
                                    Knowdex para que ustedes no tuvieran que pasar por eso.
                                    A algunos les pasará que la tengan que tomar dos veces pero recuerden que
                                    Knowdex continuamente se estará reinventando y constantemente supliendo más
                                    materiales de estudio para que el estudiante pueda estar
                                    lo más preparado posible al tomar la reválida.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseThree_payment"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Por qué Knowdex es tan costoso?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree_payment" class="collapse" role="tabpanel" data-parent="#payment">
                            <div class="card-body">
                                <p>Todo es relativo. El equipo de Knowdex entiende que para todo lo que ofrecemos y
                                    el valor enorme que brindamos es un precio justo y razonable. Lamentamos que no
                                    esté de acuerdo. 🙁</p>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseFour_payment"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Quién es Dex? ¿Lo puedo conocer?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour_payment" class="collapse" role="tabpanel" data-parent="#payment">
                            <div class="card-body">
                                <p>Dex es la mente detrás de Knowdex. Dex es bien tímido y solo se comunica a través
                                    de knowdex.com. Puedes demostrarle que eres fanático usando el hashtag #ilovedex
                                    en tus redes sociales. Si Dex cambia y se le quita la timidez, le garantizamos
                                    que lo conocerán.</p>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseFive_payment"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>Me encantó Knowdex. ¿Qué hago ahora?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive_payment" class="collapse" role="tabpanel" data-parent="#payment">
                            <div class="card-body">
                                <p>A nosotros nos encanta que te encante Knowdex. Te pedimos que nos escribas a
                                    hola@knowdex.com para que nos cuentes qué te gustó y cómo te ayudó. Recuerda que
                                    Knowdex está diseñado para todos. Comparte tu experiencia con otros para que así
                                    el mayor número de personas se puedan beneficiar de Knowdex. Por último,
                                    ¡GRACIAS!</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                </div>
                <!-- /accordion payment -->

                <h4 class="nomargin_top">Preguntas relacionadas a la reválida</h4>
                <div role="tablist" class="add_bottom_45 accordion_2" id="tips">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href data-target="#collapseOne_tips" aria-expanded="true"><i
                                        class="indicator ti-plus"></i>¿Cómo es la reválida? ¿Qué debo de
                                    esperar?</a>
                            </h5>
                        </div>

                        <div id="collapseOne_tips" class="collapse" role="tabpanel" data-parent="#tips">
                            <div class="card-body">
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseTwo_tips"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿A quién me recomiendan pedirle consejo?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo_tips" class="collapse" role="tabpanel" data-parent="#tips">
                            <div class="card-body">
                                <p>A todas las personas que quieras. <br><br>

                                    Síguenos en nuestras redes sociales @knowdex porque preparamos varios “Knowdex
                                    Tips” que estamos seguros que te servirán.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseThree_tips"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i> Si no paso la reválida de la primera vez, ¿qué
                                    pasa?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree_tips" class="collapse" role="tabpanel" data-parent="#tips">
                            <div class="card-body">
                                <p> No pasa nada. <br> <br>

                                    Tendrás 5 oportunidades más para pasarla. <br> <br>

                                    La vida continúa. <br> <br>

                                    Knowdex estará ahí para ti en el camino a pasar la reválida.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseFour_tips"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i> ¿Qué repaso nos recomiendas tomar?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour_tips" class="collapse" role="tabpanel" data-parent="#tips">
                            <div class="card-body">
                                <p> Knowdex. <br> <br>

                                    Espera, Knowdex no es un repaso. <br> <br>

                                    Pues… mmm… no sabemos qué recomendarte. <br> <br>

                                    Todos los repasos se parecen bastante entre sí. <br> <br>

                                    Ninguno se parece a Knowdex. 🙂 </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseFive_tips"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i> ¿Knowdex da alguna predicción de qué va a
                                    salir en la reválida?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive_tips" class="collapse" role="tabpanel" data-parent="#tips">
                            <div class="card-body">
                                <p> Knowdex le provee al estudiante predicciones, también los número de la loteria
                                    electrónica, le leemos las cartas del Tarot y le damos la bendición en la
                                    religión de su preferencia.
                                    <br> <br>

                                    ¡JAJA! – Es bromeando, Knowdex opina que cruzar el Niagara en bicicleta es más
                                    fácil que tratar de predecir qué viene en la reválida.

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseSix_tips"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i> ¿Por qué Knowdex está brutal?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSix_tips" class="collapse" role="tabpanel" data-parent="#tips">
                            <div class="card-body">
                                <p> ¡GRACIAS! <br><br>

                                    No sabemos… pero Knowdex fue creado por estudiantes que se enfrentaron a lo
                                    mismo que te enfrentarás y nuestra misión es ayudarlos lo más que podamos para
                                    que la pasen de la primera vez y podamos celebrar con ustedes.
                                    <br><br>

                                    (El equipo de Knowdex acepta invitaciones a celebrar el #pass) </p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                </div>
                <!-- /accordion suggestions -->

                <h4 class="nomargin_top">Pagos, Suscripciones y Reembolsos</h4>
                <div role="tablist" class="add_bottom_45 accordion_2" id="reccomendations">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href data-target="#collapseOne_reccomendations"
                                   aria-expanded="true"><i class="indicator ti-plus"></i>¿Cómo me suscribo a
                                    Knowdex?</a>
                            </h5>
                        </div>

                        <div id="collapseOne_reccomendations" class="collapse" role="tabpanel"
                             data-parent="#reccomendations">
                            <div class="card-body">
                                <p>Para suscribirse a Knowdex haga click donde dice “Suscribirme” en el menú
                                    principal (o, presionando aquí). Estos enlaces lo llevarán a crear una cuenta de
                                    Knowdex. Siga las instrucciones y si tiene alguna duda y/o pregunta siempre nos
                                    puede escribir a hola@knowdex.com.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseTwo_reccomendations"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Cuántos tipos de membresía tiene Knowdex?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo_reccomendations" class="collapse" role="tabpanel"
                             data-parent="#reccomendations">
                            <div class="card-body">
                                <p>Por el momento Knowdex cuenta con dos tipos de membresía. Estas son: Pagos
                                    mensuales o un solo pago.
                                    <br><br>
                                    Es importante que lea nuestros términos y condiciones antes de convertirse en
                                    miembro de Knowdex. De surgir cualquier duda y/o pregunta nos puede contactar a
                                    hola@knowdex.com.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseThree_reccomendations"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Cuál es la diferencia entre las membresías
                                    #teampassonetime #teampassmonthly?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree_reccomendations" class="collapse" role="tabpanel"
                             data-parent="#reccomendations">
                            <div class="card-body">
                                <p>La diferencia no solo es el monto final que está pagando sino también si prefiere
                                    pagar de una vez o dividido en múltiples pagos. Es importante que el subscriptor
                                    entienda que no porque esté pagando la membresía mensual significa que si quiere
                                    dejar de pagar se puede cancelar y no se le cobra el restante. Lo que el
                                    subscriptor estará escogiendo es la recurrencia del pago. El subscriptor se
                                    compromete completamente a pagar la totalidad del monto.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseFour_reccomendations"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Cómo solicito un reembolso?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour_reccomendations" class="collapse" role="tabpanel"
                             data-parent="#reccomendations">
                            <div class="card-body">
                                <p>Knowdex NO ofrece reembolsos bajo ninguna circunstancia. El subscriptor acepta y
                                    entiende que se regirá por los términos y condiciones antes de hacer el pago.
                                    Lamentamos mucho si esto le causa algún tipo de inconveniente. Sin embargo, el
                                    equipo de Knowdex está siempre a su disposición y de tener alguna duda y/o
                                    pregunta puede escribirnos a hola@knowdex.com.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /accordion Reccomendations -->

                <h4 class="nomargin_top">Cursos</h4>
                <div role="tablist" class="add_bottom_45 accordion_2" id="terms">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href data-target="#collapseOne_terms" aria-expanded="true"><i
                                        class="indicator ti-plus"></i>¿Cómo están organizados los cursos?</a>
                            </h5>
                        </div>

                        <div id="collapseOne_terms" class="collapse" role="tabpanel" data-parent="#terms">
                            <div class="card-body">
                                <p>Los cursos están organizados por materias. Cada curso es una materia que tendrán
                                    que estudiar en preparación para tomar la reválida general. Dentro de cada curso
                                    encontrarán diferentes lecciones. El título de cada lección les servirá de guía
                                    para poder completarlas en el transcurso de sus estudios y puedan saber que
                                    materia dominan más que otra.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseTwo_terms"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Cuántas veces puedo retomar un quiz?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo_terms" class="collapse" role="tabpanel" data-parent="#terms">
                            <div class="card-body">
                                <p>Sencillo… ¡todas las veces que quieras!</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseThree_terms"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Qué hago si entiendo que la contestación a una
                                    pregunta está mal?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree_terms" class="collapse" role="tabpanel" data-parent="#terms">
                            <div class="card-body">
                                <p>Le pedimos de favor que nos escriba inmediatamente a hola@knowdex.com y nos diga
                                    cual y porque para nosotros poder corroborar el error y de ser necesario,
                                    arreglarlo inmediatamente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseFour_terms"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Hay preguntas que se repiten? ¿Esto es común?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour_terms" class="collapse" role="tabpanel" data-parent="#terms">
                            <div class="card-body">
                                <p>Sí. El que veas una pregunta de selección múltiple en distintos quizzes es común.
                                    Eso no significa que le estamos dando importancia más a esa pregunta que a
                                    otras. Lo que significa es que el algoritmo que utilizamos para poder alternar
                                    las preguntas está haciendo su trabajo y las preguntas están siendo colocadas en
                                    combinación con otras preguntas en otros quizzes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href data-target="#collapseFive_terms"
                                   aria-expanded="false">
                                    <i class="indicator ti-plus"></i>¿Se me borró el contenido de mi curso?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive_terms" class="collapse" role="tabpanel" data-parent="#terms">
                            <div class="card-body">
                                <p>¡Le pedimos disculpas!
                                    <br> <br>
                                    Le aseguramos que este tipo de cosas no es algo común. Sin embargo, no podemos
                                    garantizar el perfecto funcionamiento de la tecnología. Le pedimos de favor que
                                    nos escriba un correo electrónico con lo sucedido a hola@knowdex.com.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /card -->
                </div>
                <!-- /accordion Booking -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!--/container-->
</main>