<main ng-controller="homeCtrl">
    <div ng-include="'views/layouts/header.html'"></div>
    <section class="header-video">
        <div id="hero_video">
            <div>
                <h3><strong>Materiales Prácticos Para la Reválida</strong></h3>
                <p>#TEAMKNOWDEX</p>
            </div>
            <a href="#first_section" class="btn_explore hidden_tablet"><i class="ti-arrow-down"></i></a>
        </div>
        <img src="static/img/video_fix.png" alt="" class="header-video--media" data-video-src="static/video/knowdexHomeVideo2"
             data-teaser-source="static/video/knowdexHomeVideo2" data-provider="" data-video-width="1920"
             data-video-height="960">
    </section>
    <!-- /header-video -->

    <ul id="grid_home" class="clearfix">
        <li>
            <a class="img_container">
                <img src="http://via.placeholder.com/600x400/ccc/fff/grid_home_1.jpg" alt="">
                <div class="short_info">
                    <h3><strong>Contract Builder</strong>Coming Soon</h3>
                    <!--<div><span class="btn_1 rounded">Leer más</span></div>-->
                </div>
            </a>
        </li>
        <li>
            <a href="#/cursos" class="img_container">
                <img src="http://via.placeholder.com/600x400/ccc/fff/grid_home_1.jpg" alt="">
                <div class="short_info">
                    <h3><strong>Reválida</strong>Materiales de Práctica</h3>
                    <div><span class="btn_1 rounded">Ver más</span></div>
                </div>
            </a>
        </li>
        <li>
            <a class="img_container">
                <img src="http://via.placeholder.com/600x400/ccc/fff/grid_home_1.jpg" alt="">
                <div class="short_info">
                    <h3><strong>Blog</strong>Coming Soon</h3>
                    <!--<div><span class="btn_1 rounded">Someter</span></div>-->
                </div>
            </a>
        </li>
    </ul>
    <!------------------------SOBRE NOSOTROS----------------------------->
    <!--/grid_home -->
    <div class="call_section">
        <div class="container clearfix">
            <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                <div class="block-reveal">
                    <div class="block-vertical"></div>
                    <div class="box_1">
                        <!--Arreglar logo?-->
                        <img src="static/img/knowdexLogoBlanco.png" width="200" height="40" data-retina="true"
                             alt=""></a>
                        <p></p>
                        <p>Knowdex™ surge a consecuencia de la ausencia de materiales de calidad que necesitan
                            y requieren los estudiantes que se preparan para tomar la reválida estatal de
                            derecho.</p>
                        <a href="#/about" class="btn_1 rounded">Sobre nosotros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------CURSOS----------------------------->


    <div class="container margin_30_95">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>¿Qué distingue a Knowdex?</h2>
            <!--<p>Tenemos los siguientes cursos disponibles: </p>-->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                          <img src="static/img/revalida.png" class="img-fluid" alt="">
                        <div class="info">
                            <!--<small><i class="ti-layers"></i>13 temas</small>-->
                            <h3>Tecnología innovadora</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_2.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <!--<small><i class="ti-layers"></i>23 Programmes</small>-->
                            <h3>Accesible</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_3.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <!--<small><i class="ti-layers"></i>23 Programmes</small>-->
                            <h3>100% Puertorriqueño</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <!--<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">-->
                <!--<a href="#0" class="grid_item">-->
                    <!--<figure class="block-reveal">-->
                        <!--<div class="block-horizzontal"></div>-->
                        <!--<img src="http://via.placeholder.com/800x533/ccc/fff/course_4.jpg" class="img-fluid" alt="">-->
                        <!--<div class="info">-->
                            <!--&lt;!&ndash;<small><i class="ti-layers"></i>23 Programmes</small>&ndash;&gt;-->
                            <!--<h3>Science and Biology</h3>-->
                        <!--</div>-->
                    <!--</figure>-->
                <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /grid_item &ndash;&gt;-->
            <!--<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">-->
                <!--<a href="#0" class="grid_item">-->
                    <!--<figure class="block-reveal">-->
                        <!--<div class="block-horizzontal"></div>-->
                        <!--<img src="http://via.placeholder.com/800x533/ccc/fff/course_5.jpg" class="img-fluid" alt="">-->
                        <!--<div class="info">-->
                            <!--&lt;!&ndash;<small><i class="ti-layers"></i>23 Programmes</small>&ndash;&gt;-->
                            <!--<h3>Law and Criminology</h3>-->
                        <!--</div>-->
                    <!--</figure>-->
                <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /grid_item &ndash;&gt;-->
            <!--<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">-->
                <!--<a href="#0" class="grid_item">-->
                    <!--<figure class="block-reveal">-->
                        <!--<div class="block-horizzontal"></div>-->
                        <!--<img src="http://via.placeholder.com/800x533/ccc/fff/course_6.jpg" class="img-fluid" alt="">-->
                        <!--<div class="info">-->
                            <!--&lt;!&ndash;<small><i class="ti-layers"></i>23 Programmes</small>&ndash;&gt;-->
                            <!--<h3>Medical</h3>-->
                        <!--</div>-->
                    <!--</figure>-->
                <!--</a>-->
            <!--</div>-->
            <!-- /grid_item -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->


    <!------------------------BLOG----------------------------->


    <!--<div class="bg_color_1">-->
        <!--<div class="container margin_120_95">-->
            <!--<div class="main_title_2">-->
                <!--<span><em></em></span>-->
                <!--<h2>Nuestro Blog</h2>-->
                <!--<br>-->
                <!--<br>-->
                <!--<h2>Fecha de Lanzamiento:</h2>-->
                <!--<h2><em>27 de agosto de 2018</em></h2>-->
                <!--<img src="static/img/Dex.png" width="200" height="200" alt="">-->
                <!--<h2><em>¡Por ahora, les presentamos a Dex!</em></h2>-->
                <!--&lt;!&ndash;<p>Mira los artículos más recientes de Knowdex:</p>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-6">-->
                    <!--<a class="box_news" href="#0">-->
                        <!--<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_1.jpg" alt="">-->
                            <!--<figcaption><strong>28</strong>Dec</figcaption>-->
                        <!--</figure>-->
                        <!--<ul>-->
                            <!--<li>Mark Twain</li>-->
                            <!--<li>20.11.2017</li>-->
                        <!--</ul>-->
                        <!--<h4>Pri oportere scribentur eu</h4>-->
                        <!--<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse-->
                            <!--ullum vidisse....</p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; /box_news &ndash;&gt;-->
                <!--<div class="col-lg-6">-->
                    <!--<a class="box_news" href="#0">-->
                        <!--<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_2.jpg" alt="">-->
                            <!--<figcaption><strong>28</strong>Dec</figcaption>-->
                        <!--</figure>-->
                        <!--<ul>-->
                            <!--<li>Jhon Doe</li>-->
                            <!--<li>20.11.2017</li>-->
                        <!--</ul>-->
                        <!--<h4>Duo eius postea suscipit ad</h4>-->
                        <!--<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse-->
                            <!--ullum vidisse....</p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; /box_news &ndash;&gt;-->
                <!--<div class="col-lg-6">-->
                    <!--<a class="box_news" href="#0">-->
                        <!--<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_3.jpg" alt="">-->
                            <!--<figcaption><strong>28</strong>Dec</figcaption>-->
                        <!--</figure>-->
                        <!--<ul>-->
                            <!--<li>Luca Robinson</li>-->
                            <!--<li>20.11.2017</li>-->
                        <!--</ul>-->
                        <!--<h4>Elitr mandamus cu has</h4>-->
                        <!--<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse-->
                            <!--ullum vidisse....</p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; /box_news &ndash;&gt;-->
                <!--<div class="col-lg-6">-->
                    <!--<a class="box_news" href="#0">-->
                        <!--<figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_4.jpg" alt="">-->
                            <!--<figcaption><strong>28</strong>Dec</figcaption>-->
                        <!--</figure>-->
                        <!--<ul>-->
                            <!--<li>Paula Rodrigez</li>-->
                            <!--<li>20.11.2017</li>-->
                        <!--</ul>-->
                        <!--<h4>Id est adhuc ignota delenit</h4>-->
                        <!--<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse-->
                            <!--ullum vidisse....</p>-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; /box_news &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /row &ndash;&gt;-->
            <!--<p class="btn_home_align"><a ng-href="#/blog" class="btn_1 rounded">Ver más artículos</a></p>-->
        <!--</div>-->
        <!-- /container -->
    <!--</div>-->
    <!-- /bg_color_1 -->


    <!------------------------POPULAR COURSES----------------------------->


    <!--<div class="container-fluid margin_120_0" id="first_section">-->
        <!--<div class="main_title_2">-->
            <!--<span><em></em></span>-->
            <!--<h2>Udema Popular Courses</h2>-->
            <!--<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>-->
        <!--</div>-->
        <!--<div id="reccomended" class="owl-carousel owl-theme">-->
            <!--<div class="item">-->
                <!--<div class="box_grid">-->
                    <!--<figure>-->
                        <!--<a href="#0" class="wish_bt"></a>-->
                        <!--<a href="course-detail.html">-->
                            <!--<div class="preview"><span>Preview course</span></div>-->
                            <!--<img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"-->
                                 <!--class="img-fluid" alt=""></a>-->
                        <!--<div class="price">$39</div>-->

                    <!--</figure>-->
                    <!--<div class="wrapper">-->
                        <!--<small>Category</small>-->
                        <!--<h3>Persius delenit has cu</h3>-->
                        <!--<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>-->
                        <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i-->
                                <!--class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>-->
                            <!--<small>(145)</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li><i class="icon_clock_alt"></i> 1h 30min</li>-->
                        <!--<li><i class="icon_like"></i> 890</li>-->
                        <!--<li><a href="course-detail.html">Enroll now</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /item &ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="box_grid">-->
                    <!--<figure>-->
                        <!--<a href="#0" class="wish_bt"></a>-->
                        <!--<a href="course-detail.html"><img-->
                                <!--src="http://via.placeholder.com/800x533/ccc/fff/course__list_2.jpg"-->
                                <!--class="img-fluid" alt=""></a>-->
                        <!--<div class="price">$45</div>-->
                        <!--<div class="preview"><span>Preview course</span></div>-->
                    <!--</figure>-->
                    <!--<div class="wrapper">-->
                        <!--<small>Category</small>-->
                        <!--<h3>Persius delenit has cu</h3>-->
                        <!--<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>-->
                        <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i-->
                                <!--class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>-->
                            <!--<small>(145)</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li><i class="icon_clock_alt"></i> 1h 30min</li>-->
                        <!--<li><i class="icon_like"></i> 890</li>-->
                        <!--<li><a href="course-detail.html">Enroll now</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /item &ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="box_grid">-->
                    <!--<figure>-->
                        <!--<a href="#0" class="wish_bt"></a>-->
                        <!--<a href="course-detail.html"><img-->
                                <!--src="http://via.placeholder.com/800x533/ccc/fff/course__list_3.jpg"-->
                                <!--class="img-fluid" alt=""></a>-->
                        <!--<div class="price">$54</div>-->
                        <!--<div class="preview"><span>Preview course</span></div>-->
                    <!--</figure>-->
                    <!--<div class="wrapper">-->
                        <!--<small>Category</small>-->
                        <!--<h3>Persius delenit has cu</h3>-->
                        <!--<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>-->
                        <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i-->
                                <!--class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>-->
                            <!--<small>(145)</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li><i class="icon_clock_alt"></i> 1h 30min</li>-->
                        <!--<li><i class="icon_like"></i> 890</li>-->
                        <!--<li><a href="course-detail.html">Enroll now</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /item &ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="box_grid">-->
                    <!--<figure>-->
                        <!--<a href="#0" class="wish_bt"></a>-->
                        <!--<a href="course-detail.html"><img-->
                                <!--src="http://via.placeholder.com/800x533/ccc/fff/course__list_4.jpg"-->
                                <!--class="img-fluid" alt=""></a>-->
                        <!--<div class="price">$27</div>-->
                        <!--<div class="preview"><span>Preview course</span></div>-->
                    <!--</figure>-->
                    <!--<div class="wrapper">-->
                        <!--<small>Category</small>-->
                        <!--<h3>Persius delenit has cu</h3>-->
                        <!--<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>-->
                        <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i-->
                                <!--class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>-->
                            <!--<small>(145)</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li><i class="icon_clock_alt"></i> 1h 30min</li>-->
                        <!--<li><i class="icon_like"></i> 890</li>-->
                        <!--<li><a href="course-detail.html">Enroll now</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /item &ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="box_grid">-->
                    <!--<figure>-->
                        <!--<a href="#0" class="wish_bt"></a>-->
                        <!--<a href="course-detail.html"><img-->
                                <!--src="http://via.placeholder.com/800x533/ccc/fff/course__list_5.jpg"-->
                                <!--class="img-fluid" alt=""></a>-->
                        <!--<div class="price">$35</div>-->
                        <!--<div class="preview"><span>Preview course</span></div>-->
                    <!--</figure>-->
                    <!--<div class="wrapper">-->
                        <!--<small>Category</small>-->
                        <!--<h3>Persius delenit has cu</h3>-->
                        <!--<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>-->
                        <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i-->
                                <!--class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>-->
                            <!--<small>(145)</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li><i class="icon_clock_alt"></i> 1h 30min</li>-->
                        <!--<li><i class="icon_like"></i> 890</li>-->
                        <!--<li><a href="course-detail.html">Enroll now</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /item &ndash;&gt;-->
            <!--<div class="item">-->
                <!--<div class="box_grid">-->
                    <!--<figure>-->
                        <!--<a href="#0" class="wish_bt"></a>-->
                        <!--<a href="course-detail.html"><img-->
                                <!--src="http://via.placeholder.com/800x533/ccc/fff/course__list_6.jpg"-->
                                <!--class="img-fluid" alt=""></a>-->
                        <!--<div class="price">$54</div>-->
                        <!--<div class="preview"><span>Preview course</span></div>-->
                    <!--</figure>-->
                    <!--<div class="wrapper">-->
                        <!--<small>Category</small>-->
                        <!--<h3>Persius delenit has cu</h3>-->
                        <!--<p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>-->
                        <!--<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i-->
                                <!--class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>-->
                            <!--<small>(145)</small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul>-->
                        <!--<li><i class="icon_clock_alt"></i> 1h 30min</li>-->
                        <!--<li><i class="icon_like"></i> 890</li>-->
                        <!--<li><a href="course-detail.html">Enroll now</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /item &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /carousel &ndash;&gt;-->
        <!--<div class="container">-->
            <!--<p class="btn_home_align"><a href="courses-grid.html" class="btn_1 rounded">View all courses</a></p>-->
        <!--</div>-->
        <!--&lt;!&ndash; /container &ndash;&gt;-->
        <!--<hr>-->
    <!--</div>-->
    <!-- /container -->


    <!--/call_section-->
    <div ng-include="'views/layouts/footer.html'">
</main>
<!-- /main -->
