<div id="login_bg" ng-controller="loginCtrl">
	<div ng-include="'views/layouts/header.html'"></div>
	<div id="login">
		<aside>
			<form class="loginForm">
				<!--<div class="access_social">-->
					<!--<a href="#0" class="social_bt facebook">Login with Facebook</a>-->
					<!--<a href="#0" class="social_bt google">Login with Google</a>-->
					<!--<a href="#0" class="social_bt linkedin">Login with Linkedin</a>-->
				<!--</div>-->
				<!--<div class="divider"><span>Or</span></div>-->
				<div class="form-group">
					<span class="input">
					<input class="input_field" type="email" autocomplete="off" name="email">
						<label class="input_label">
						<span class="">Correo electrónico</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" type="password" autocomplete="new-password" name="password">
						<label class="input_label">
						<span class="">Contraseña</span>
					</label>
					</span>
					<small><a href="#0">¿Olvidó su contraseña?</a></small>
				</div>
				<a href="#0" class="btn_1 rounded full-width add_top_60">Ingresar</a>
				<div class="text-center add_top_10">¿Eres un usuario nuevo? <strong><a href="#/register">¡Regístrese!</a></strong></div>
			</form>
			<div class="copy">© 2018 Knowdex, LLC. </div>
		</aside>
	</div>
	<!-- /login -->
</div>
