<main ng-controller="revalidaCtrl">
    <section id="hero_in" class="general">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Sobre Nosotros</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <div class="container margin_120_95">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>¿Qué destaca a Knowdex? </h2>
            <!--<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>-->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#">
                    <i class="pe-7s-display2"></i>
                    <h3>2500 Materiales</h3>
                    <p>Adrian dime que poner aqui por favor para que esto se vea lleno y el website no se vea mal. </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#">
                    <i class="pe-7s-graph1"></i>
                    <h3>80 colaboradores</h3>
                    <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#">
                    <i class="pe-7s-target"></i>
                    <h3>12 Cursos Disponibles</h3>
                    <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
                </a>
            </div>
            <!--<div class="col-lg-4 col-md-6">-->
            <!--<a class="box_feat" href="#">-->
            <!--<i class="pe-7s-rocket"></i>-->
            <!--<h3>Adavanced study plans</h3>-->
            <!--<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-6">-->
            <!--<a class="box_feat" href="#">-->
            <!--<i class="pe-7s-target"></i>-->
            <!--<h3>Focus on target</h3>-->
            <!--<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-6">-->
            <!--<a class="box_feat" href="#">-->
            <!--<i class="pe-7s-graph1"></i>-->
            <!--<h3>focus on success</h3>-->
            <!--<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>-->
            <!--</a>-->
            <!--</div>-->
        </div>
        <!--/row-->
    </div>
    <!-- /container -->

    <div class="bg_color_1">
        <div class="container margin_120_95">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>Nuestra Historia</h2>
                <!--<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>-->
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-6 wow" data-wow-offset="150">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="static/img/team.png" class="img-fluid" alt="">
                    </figure>
                </div>
                <div class="col-lg-5">
                    <p>Knowdex™ surge a consecuencia de la ausencia de materiales de calidad que necesitan y requieren los estudiantes que se preparan para tomar la reválida estatal de derecho. Un grupo de ex-alumnos, ahora abogados licenciados, decidieron unir esfuerzos para ofrecer materiales necesarios y únicos para los aspirantes a la reválida.
                        Knowdex™ tiene como objetivo principal ofrecer los mejores materiales complementarios para estudio y práctica de la reválida.</p>
                    <p>Nosotros:
                    <ul>
                        <li> - Proveemos al estudiante <strong> múltiples modos de estudio </strong>.</li>
                        <li> - Somos la única plataforma en ofrecer <strong> materiales </strong> de reválida <strong> controlados por el estudiantes </strong>.</li>
                        <li> -<strong> Ofrecemos apoyo y comodidad al estudiante</strong> al estudiante durantes sus estudios de reválida.</li>
                        <li> - Bridamos constantemente <strong> contenido nuevo </strong> al estudiante.</li>
                    </ul>
                    </p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->

    <div class="container margin_120_95">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Nuestro Fundadores</h2>
            <!--<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>-->
        </div>
        <div id="carousel" class="owl-carousel owl-theme">
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Adrián Vega<em>CEO</em></h4>
                    </div><img src="static/img/adrian.png" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Daniel Irizarry<em>CTO</em></h4>
                    </div><img src="http://via.placeholder.com/350x500/ccc/fff/2_carousel.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Fernando Delgado<em>CFO</em></h4>
                    </div><img src="http://via.placeholder.com/350x500/ccc/fff/3_carousel.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Javier Torres<em> Abogado Especialista en Knowdex</em></h4>
                    </div><img src="http://via.placeholder.com/350x500/ccc/fff/4_carousel.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Carlos Power<em> Pro Intern</em></h4>
                    </div><img src="http://via.placeholder.com/350x500/ccc/fff/5_carousel.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /carousel -->
    </div>
    <!--/container-->
</main>